@import "game.scss";
@import "styles.scss";
@import "talents.scss";
@import "instructions.scss";
@import "profile.scss";
@import "weapons.scss";
@import "explosives.scss";
@import "shop.scss";
@import "console.scss";
@import "creation.scss";
@import "changelog.scss";
@import "welcome.scss";
@import "travel.scss";
@import "start.scss";


html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border-style: ridge;
}

.centerHeader { 
  font-size: xx-large;  
  display: flex; 
  align-content: center;
}

// .navbar-default { 
//   background-color: #303030;; 
//   color: green; 
// }