.creationwindow {
  height: 600px;
  width: 800px;
  margin: auto;
  border-style: ridge; }

#Start {
  font-family: Orbitron, sans-serif;
  height: 600px;
  width: 800px;
  margin: auto; }

#Start input {
  height: 2em;
  width: 23em; }

.CreationHeader {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-content: center; }

.CreationText {
  font-size: xx-large;
  color: aliceblue;
  text-align: center;
  flex-grow: 1; }

#Start .center {
  text-align: center;
  flex-grow: 1;
  margin-bottom: 0.5em; }

#Start .left {
  width: 18em;
  height: 30em;
  float: left; }

#Start .right {
  width: 18em;
  height: 30em;
  float: left; }

#Start .createAvatar {
  justify-content: center; }

.closeCreation {
  float: right; }

.profileImg {
  height: 4em;
  width: 4em;
  border: 0.25em aliceblue ridge;
  padding: 0.25em;
  flex-direction: row;
  justify-content: center; }

.classes {
  color: aliceblue;
  display: inline;
  border: 0.25em aliceblue ridge;
  padding: 0.25em;
  background-color: #4E65B8; }

.intro-banner {
  height: 160px;
  width: 720px;
  margin-left: 23px;
  margin-bottom: 6em;
  margin-top: 4em; }
