<template>
  <dialog id="Create">

    <div class="center">
      <span class="CreationText">Choose your avatar</span>
    </div>

    <div class="center">
      <input type="text" placeholder="Name" class="inputName">
    </div>
    
    <div class="center">
      <img class="profileImg" src="../static/assets/characters/Nerd.png" gender="male"
          click.trigger="clickGender($event)"/>
      <img class="profileImg" src="./static/assets/characters/femalenerd.png" gender="female"
          click.trigger="clickGender($event)"/>
    </div>
    
    <div class="center">        
      <button class="btn btn-default" click.trigger="play()">Play</button>
    </div>

  </dialog>
</template>
