<template>
  <dialog id="Menu">
    <div class="center" click.trigger="clickProfile()">Profile</div>
    <div class="center" click.trigger="clickAttributes()">Talents</div>
    <div class="center" click.trigger="clickWeapons()">Inventory</div>
    <div class="center" click.trigger="clickInstructions()">Instructions</div>
    <div class="center">Options</div>
  </dialog>
</template>
