<template>
  <dialog id="Start" open>

    <div class="center">
      <span class="CreationText">Damp Hamlet</span>
    </div>

    <img class="intro-banner" src="../../static\assets\oryx_lofi_horror\oryx_lofi_horror\lofi_horror_scene.png" width="600px" height="300px"/>
            
    <div class="center">        
      <button class="btn btn-default" click.trigger="clickCreate()">New Game</button>
    </div>
    <div class="center">
      <button class="btn btn-default" click.trigger="">Load Game</button>
    </div>
    <div class="center">
      <button class="btn btn-default" click.trigger="">Tutorial</button>
    </div>

  </dialog>
</template>
