<template>
  <dialog id="Travel">

    <h3>Set your destination and prepare to warp.</h3>

    <div class="center">
      <h4>Destinations</h4>
      <div> 
        <button class="btn btn-default" click.delegate="goToHome()">Station</button>
      </div>
      <div> 
        <button class="btn btn-default" click.delegate="goToTown()">Damp Hamlet</button>        
      </div>
    </div>

    <div class="center missions">
      <h4>Missions</h4>
      <div class="travelDestinations">
        <div if.bind="destinations">
          <div repeat.for="destination of destinations">
              <div data-key="${destination.key}" value.bind="destinations" click.trigger="setDestination($event)">${destination.name}</div>            
          </div>
        </div>
      </div>
      
      </br>

      <h4>Briefing</h4>
      
      <div if.bind="destination">
        <div>${destination.name} (${destination.length})</div>
        <div>${destination.description}</div>
        <div>
          <span class="difficulty-icons">
            <span class="fa fa-circle" data-key="0" click.delegate="setDifficulty($event)"></span>
            <span class="fa fa-circle-o" data-key="1" click.delegate="setDifficulty($event)"></span>
            <span class="fa fa-circle-o" data-key="2" click.delegate="setDifficulty($event)"></span>
          </span>
          <span> ${difficulty}</span>
        </div>

        <div>
          <br/>
          <button class="btn btn-default" click.delegate="goToMission()">Start</button>
        </div>
      </div>

    </div>
    
    <div class="center">        
    </div>

  </dialog>
</template>
