<template>
  <section class="au-animate">
    <body class="game-body">
    <div id="content"></div>
    <head>
      <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <meta charset="UTF-8">
      <title>Nerd in space</title>
      <link rel="stylesheet" href="../static/sass/main.css">
    </head>

    <div class="mainWindow centered">

      <div class="sidebar-left">
        <div class="sidebar-padding">
          <span class="Name">${phasergame.playerone.playername}</span>
        </div>

        <div class="sidebar-padding">
          <i class="fa fa-heart"></i>
          <span>${phasergame.playerone.attributes.health.current}</span>
          <span> / </span>
          <span>${phasergame.playerone.attributes.health.max}</span>
        </div>

        <div class="sidebar-padding">
          <i class="fa fa-bolt"></i>
          <span>${phasergame.playerone.attributes.stamina.current}</span>
          <span> / </span>
          <span>${phasergame.playerone.attributes.stamina.max}</span>
        </div>

        <div class="sidebar-padding">
          <i class="fa fa-eye"></i>
          <span>${phasergame.playerone.attributes.energy.current}</span>
          <span> /</span>
          <span>${phasergame.playerone.attributes.energy.max}</span>
        </div>

        <div class="sidebar-padding">
          <i class="fa fa-crosshairs"></i>
          <span>${phasergame.playerone.weapon.clip}</span>
          <span> / </span>
          <span>${phasergame.playerone.weapon.ammo}</span>
        </div>

        <div class="consumables">
          <div class="sidebar-padding">
            <i class="fa fa-bomb"></i>
            <span>${phasergame.playerone.inventory.items.grenades.quantity}</span>
          </div>
          <div class="sidebar-padding">
            <i class="fa fa-medkit"></i>
            <span>${phasergame.playerone.inventory.items.medkits.quantity}</span>
          </div>
        </div>

        <div class="sidebar-padding">
          <i class="fa fa-paw"></i>
          <span>${phasergame.target.health}</span>
          <span> / </span>
          <span>${phasergame.enemyCount}</span>
        </div>
      </div>

      <div class="top-nav">
        <div class="top-nav-items">
        <span class="UIIcons">
          <!--<img src="../static/assets/UI/ProfileIcon.png" class="profileIcon">-->
          <img src="../static/assets/UI/ProfileIcon.png" class="profileIcon" click.trigger="clickProfile()">
          <img src="../static/assets/UI/AttributesIcon.png" class="attributesIcon" click.trigger="clickAttributes()">
          <img src="../static/assets/UI/GunIcon.png" class="weaponsIcon" click.trigger="clickWeapons()">
          <!--<img src="../static/assets/UI/GrenadeIcon.png" class="grenadeIcon" click.trigger="clickGrenade()">-->
          <img src="../static/assets/UI/InfoIcon.png" class="instructionsIcon" click.trigger="clickInstructions()">
        </span>
        </div>
      </div>
      <div class="top-spacer"></div>


      <div class="gamePanel">
        <div id='gameWindow'></div>
      </div>
  
  
    <div class="bottom-nav">
        <ul class="console"></ul>

        <!--<div class="changelogLink">
            <a href="changelog.html">Patch Notes</a>
        </div>-->
    </div>
    
    </div>

    </body>

    <footer>
      <compose view-model="./menu/create"></compose>
      <compose view-model="./menu/start"></compose>
      <compose view-model="./menu/profile"></compose>
      <compose view-model="./menu/talents"></compose>
      <compose view-model="./menu/weapons"></compose>
      <compose view-model="./menu/explosives"></compose>
      <compose view-model="./menu/shopmenu"></compose>
      <compose view-model="./menu/instructions"></compose>
      <compose view-model="./menu/mission"></compose>
      <compose view-model="./menu/travel"></compose>
      <compose view-model="./menu/menu"></compose>
    </footer>
  </section>

</template>
