<template>
  <div id="content"></div>

  <head>
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Info</title>
    <!--<link rel="stylesheet" href="../static/sass/main.css">-->
  </head>

  <section class="au-animate">
    <span class="welcome"> 
      <h2>${heading}</h2>
      
      <h4>A top down action game developed for your browser.</h4>
      <div>*This game makes use of new technology and will only run properly in a recent version of Chrome.</div>

      <div>
        <h3>Instructions</h3>
        <div>Press ESC to bring up a help menu in game.</div>
        <div>Press E to interact with the environment. Try interacting with the computer terminal in your home.</div>
        <div>Use WASD to move around, shift to sprint, space to fire your weapon, and H to heal yourself.</div>        
      </div>

    </span>

    <form role="form" submit.delegate="submit()">
      <!--<div class="form-group">
        <label for="fn">First Name</label>
        <input type="text" value.bind="firstName" class="form-control" id="fn" placeholder="first name">
      </div>
      <div class="form-group">
        <label for="ln">Last Name</label>
        <input type="text" value.bind="lastName" class="form-control" id="ln" placeholder="last name">
      </div>-->
      <!--<div class="form-group">
        <label for="summary">Summary</label>
        <input type="text" value.bind="summary" class="form-control" id="ln" placeholder="summary">
      </div>-->
      <!--<button type="submit" class="btn btn-default">Submit</button>-->
    </form>
  </section>
</template>